body {
    font-family: 'Didot', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    background-color: #362c28;
}

.yaren-text {
    font-size: 8em;
    color: #F9C80E; 
    margin: 20px 0;
    position: relative; 
    left: 40px;
}

.koca-text {
    font-size: 8em;
    color: #F9C80E; 
    transform: rotate(90deg);
    display: inline-block;
    margin-right: -20px;
    margin-top: 380px; 
}

.main-nav {
    padding: 10px 0;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 33%;
    background-color: #362c28;
    z-index: 1;
}
.main-nav a {
    color: #f86624;
    font-family: 'Verdana', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0px 4px;
    display: inline-block;
    margin: 4px;
    transition: color 0.2s;
}
.main-nav a:hover {
    color: #84b082;
}

.container {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between the texts */
    width: 100%; /* Full width */
    position: absolute; /* Position relative to body */
    top: 10px; /* Position below the nav bar */
}

